h1{
    text-align: center;
    font-weight: 600;
    text-decoration:wavy orangered underline;
    /* border:solid;
    width: 50%; */
}
p{
    text-align: left;
    font-weight: normal;
}
h2{
    text-decoration:double red line-through;
}
h3{
    text-decoration:dotted blue overline;
}
a{
    text-decoration: none;
}