h1{
    border: 2px solid black;
    width: 50%;
}
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    /* margin: 50px; */
    border: 2px solid black;
    font-size: 10px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* margin-left: 10%; */
    font-size: 3em;
    padding: 1em;
}
button{
    font-size: 50px;
    border: 2px solid green;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}
